{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <h1 class="main-h1 text-center">
        {% if message_name %} 
            Thanks {{ message_name }} We have got your email.
        {% else %}
            Get In Contact
        {% endif %}
    </h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 contact-form">
                <form action="{% url 'contact' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Email Address</label>
                      <input type="email" class="form-control" name="message-email" placeholder="name@example.com" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Your Name</label>
                        <input type="text" class="form-control" name="message-name" pattern="[a-zA-Z]+[a-zA-Z ]+" minlength="3" placeholder="Your Name" required>
                      </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Tell Us Anything!</label>
                      <textarea class="form-control" name="message" pattern="[a-zA-Z0-9]+[a-zA-Z0-9]+" minlength="10" rows="3" required></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="product-detail-btn">Submit</a>
                    </div>
                </form>
            </div>
            <div class="col-sm-6">
                <h1 class="product-h1">Our Details</h1>
                <p class="product-h1">You Can Visit Us Here</p>
                <p>
                    6 Roscommon Town
                    Roscommon
                </p>
                <p class="product-h1">Or You Can Ring Us Here</p>
                <p>
                    085 123 4567
                </p>
                <!-- Newsletter Form -->
                <h1 class="product-h1">Sign Up For Our Newsletter</h1>
                <p>Sign up for our newsletter below and recieve emails showcasing our latest books.</p>
                <form action="{% url 'subscribe' %}" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="col"><input type="submit" class="submit product-detail-btn" value="Sign Up"></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}