{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags-->
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <!-- Bootstrap CSS-->
    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <!-- Bootstrap JS and jQuery-->
    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d1afe41476.js" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>The BookStore</title>
</head>
<body>
    <!-- Brand Name -->
    <header class="container-fluid">
        <div class="row">
            <div class="col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link">
                    <h2 class="my-0 store-name">The Book Store</h2>
                </a>
            </div>
            <!-- Navbar -->
            <div class="col-lg-4 col-6 my-auto py-1 py-lg-0 mobile-div-one">
                <nav class="navbar navbar-expand-lg">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'products' %}">All Products</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <!-- Categories drop down menu -->
                                    Categories
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'products' %}?category=childrens">Childrens</a>
                                    <a class="dropdown-item" href="{% url 'products' %}?category=health">Health</a>
                                    <a class="dropdown-item" href="{% url 'products' %}?category=food_drink">Food & Drink</a>
                                    <a class="dropdown-item" href="{% url 'products' %}?category=crime_thriller">Crime & Thriller</a>
                                    <a class="dropdown-item" href="{% url 'products' %}?category=science_geography">Science & Geography</a>
                                    <a class="dropdown-item" href="{% url 'products' %}?category=office_supplies">Office Supplies</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <!-- Contact -->
                                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-lg-4 my-auto col-6 py-1 py-lg-0 mobile-div-two">
                <ul class="list-inline list-unstyled text-center my-0 d-flex justify-content-end">
                    <li class="list-inline-dropdown">
                        <a class="nav-link" id="user-options" data-toggle="dropdown" arira-haspopup="true"
                            aria-expanded="false" href="#">
                            <div class="text-center">
                                <!-- User Options -->
                                <div><i class="far fa-user"></i></div>
                                <p class="my-0">Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                            <a href="{% url 'subscriber_email' %}" class="dropdown-item">Email Subscribers</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Log Out</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Log In</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a href="{% url 'view_bag' %}"
                            class="{% if grand_total %}text-info font-weight-bold{% else %}text-black {% endif %} nav-link">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag"></i></div>
                                <!-- Shopping Bag -->
                                <p class="my-0">
                                    {% if grand_total %}
                                    €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <!-- Search function -->
            <div class="col d-flex justify-content-center">
                <form class="form-inline my-2 my-lg-0" method="GET" action="/products/">
                    <input class="form-control mr-sm-2" type="text" pattern="[a-zA-Z0-9]+[a-zA-Z0-9 ]+" name="q" placeholder="Search" aria-label="Search">
                    <button class="btn my-2" type="submit" aria-label="Search">
                        <span class="search-icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </header>

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    
    <!-- Footer -->
    <footer class="mt-auto py-3">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-4">
                    <a href="{% url 'returns' %}">Returns</a>
                </div>
                <div class="col-sm-4">
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Instagram icon"><i
                            class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Facebook icon"><i
                            class="fab fa-facebook-f"></i></a>
                </div>
                <div class="col-sm-4">
                    <a href="{% url 'faq' %}">FAQ</a>
                </div>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>

    {% endblock %}

</body>
</html>